.Rproj.user
.Rhistory
.RData
.Ruserdata
EmployeeRecords.xlsx
POL2578_homework01_key.Rmd
POL2578_homework01_key.html
POL2578_homework02_key.Rmd
POL2578_homework02_key.html
ICPSR2024_homework02_key.Rmd
ICPSR2024_homework02_key.html
POL2578_homework03_key.Rmd
POL2578_homework03_key.html
resumes/
Abila_map_data.csv
cc_data.csv
gps_car.csv
